*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: image (https://s1.eestatic.com/2020/08/26/curiosidades/mascotas/mascotas-perros-gatos_515959375_158488466_1024x576.jpg -> Imagen de Perrito);
}